.obui_whyPeople {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #E5E4E9;
    ;
}

.obui__whyPeople-image img {
    height: 100%;
    width: 100%;
}

.obui__whyPeople-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
}

.obui__whyPeople-text h2 {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;

    color: #017F82;
}

.obui__whyPeople-text li {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    padding-bottom: 0.5rem;
    color: #000000;

}


.obui__whyPeople-mobile{
    display: none;
    flex-direction: row;
    margin: 3rem;
    justify-content: center;
    align-items: center;
}
.obui__whyPeople-mobile_text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.obui__whyPeople-mobile h2{
    font-family: 'Montserrat';
font-weight: 700;
font-size: 35px;
line-height: 35px;
color: #E8625D;
}

.obui__whyPeople-mobile_icon{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
}

.obui__whyPeople-mobile_icon p{
    font-family: 'Montserrat';
font-weight: 500;
font-size: 20px;
line-height: 22px;

color: #025B5D;
}
.obui__whyPeople-mobile_image{
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-position-x: -200px;
    background-position-y: 0px;
    background-size: cover;
}

@media screen and (max-width: 1350px) {
    .obui__whyPeople-text h2 {
        font-size: 30px;
        line-height: 38px;
    }

    .obui__whyPeople-text li {
        font-size: 20px;
        line-height: 25px;
    }

    .obui__whyPeople-image img {
        height: 370px;
        width: 500px;
    }
}
@media screen and (max-width: 950px) {
    .obui__whyPeople-image{display: none;}
    .obui__whyPeople-text{display: none;}
    .obui__whyPeople-mobile{
        display: flex;
    }
}
@media screen and (max-width: 650px) {
    .obui__whyPeople-mobile {
        margin: 4rem 2rem;
    }
}
@media screen and (max-width: 600px) {
.obui__whyPeople-mobile h2 {
    font-size: 18px;
    line-height: 22px;
}
.obui__whyPeople-mobile_icon p {
    font-size: 10px;
    line-height: 10px;
}
.obui__whyPeople-mobile_text {
    gap: 0.5rem;
}
.obui__whyPeople-mobile_image {
    width: 200px;
    height: 200px;
    background-position-x: -180px;
}
}