/* .carousel-item-padding-40-px{
    padding: 1rem;
    width: 380px;
} */
.obui__carousel{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    width: 47vw;
    gap: 1rem;
}
.obui__carousel::-webkit-scrollbar{display: none;}

@media screen and (max-width: 1022px) {
    .obui__carousel{
        width: 97vw
    }
}